<div class="container">
<h1>New game</h1>

<div class="mixed">
  <% @letters.each do |item| %>
    <div class="item">
        <%= item.capitalize %>
    </div>
  <%end%>
</div>

<form class="form" action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="form-group">
    <input type="text" class="form-control" name="answer" placeholder="Type your answer">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Play</button>
</form>
</div>
